*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

main{
    max-width: 100%;
    margin-left: 30%;
    margin-top: 10%;
    border-radius: 10px 10px;
    width: 40%;
    height: 40%;
    text-align: center;
}

h1{
    font-family: Fredoka;
}

.container{
    margin-top: 5%;
    font-family: Fredoka;
    font-size: 15px;
    border: 2px solid gray;
    border-radius: 10px 10px;
}

.input{
    margin-top: 10px;
    margin-bottom: 6px;
    width: 500px;
    height: 30px;
    border-radius: 10px 10px;
    text-align: center;
    font-family: Fredoka;
}

.button{
    width: 150px;
    height: 30px;
    border-radius: 5px 5px;
    border: none;
    font-family: Fredoka;
    background-color: #24a0ed;
}